#messagesWindow {
    background-image: url("../../images/background.png");
}

#currentChat {
    background-color: rgb(235, 229, 229);
}

#chatLastMessage {
    color: rgb(120, 119, 119);
}

#numberOfUnreadMessages {
    background-color: rgb(64, 186, 64);
    color: aliceblue;
}

.messageSent, .messageReceived {
    max-width: 60%;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;

    word-wrap: break-word;

    text-align: left;
    color: white;

    padding-left: 5px;
    padding-right: 5px;
}

.messageSent {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 15px 0px 15px 15px;
    background-color: rgb(71, 187, 71);
}

.messageReceived {
    margin-left: 10px;
    border-radius: 0px 15px 15px 15px;
    background-color: rgb(92, 151, 227);
}

#messageSentText, #messageReceivedText, .from {
    border-bottom: 2px solid rgb(20, 20, 20);
}

.messageDateTime {
    font-style: oblique;
    color: white;
}

#unreadMessagesNoticeVisible {
    color: rgb(65, 59, 59);
    border-top: 1px solid rgb(65, 59, 59);
    border-bottom: 1px solid rgb(65, 59, 59);
}

#createGroupChatButton, #sendButton {
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid rgb(64, 62, 62);
}

.sendShape {
    border-top: 14px solid transparent;
	border-left: 28px solid rgb(68, 135, 68);
	border-bottom: 14px solid transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #dedcdc; 
}

::-webkit-scrollbar-thumb {
    background: #949191; 
    height: 10px;
}