#currentChat {
    background-color: rgb(212, 210, 210);
}

.messageSent, .messageReceived {
    max-width: 60%;
    width: fit-content;
    margin-top: 10px;

    text-align: left;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 10px;
    border: 2px solid yellow;
}

.messageSent {
    margin-left: auto;
    margin-right: 10px;

    background-color: rgb(132, 233, 110);
}

.messageReceived {
    margin-left: 10px;
    background-color: rgb(117, 213, 242);
}

.from {
    border-bottom: 2px solid white;
}

#messageSentText, #messageReceivedText {
    border-bottom: 2px solid white;
}

.messageDateTime {
    font-style: oblique;
    color: rgb(83, 79, 79);
}

#sendButton {
    border-radius: 50%;
    border: 1.5px solid rgb(64, 62, 62);
}

.sendShape {
    border-top: 14px solid transparent;
	border-left: 28px solid rgb(68, 135, 68);
	border-bottom: 14px solid transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #dedcdc; 
}

::-webkit-scrollbar-thumb {
    background: #949191; 
    height: 10px;
}