#currentChat {
    background-color: rgb(212, 210, 210);
}

.messageSent, .messageReceived {
    max-width: 60%;
    width: fit-content;
    margin-top: 10px;

    text-align: left;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 10px;
    border: 2px solid yellow;
}

.messageSent {
    margin-left: auto;
    margin-right: 10px;

    background-color: rgb(132, 233, 110);
}

.messageReceived {
    margin-left: 10px;
    background-color: rgb(117, 213, 242);
}

.from {
    border-bottom: 2px solid white;
}

#messageSentText, #messageReceivedText {
    border-bottom: 2px solid white;
}

.messageDateTime {
    font-style: oblique;
    color: rgb(83, 79, 79);
}