#createGroupChatPopUpOverlay {
    background-color: rgb(0, 0, 0, 0.7);
}

.createGroupChatPopUp {
    background-color: rgb(239, 231, 231);
}

#suggestedParticipants {
    background-color: white;
}

#addedParticipantName {
    background-color: rgb(124, 196, 237);
}